<style>
    header {
    background-color: #333;
    color: #fff !important;
    padding: 1em;
    text-align: center;
}
span:first-child {
    color: greenyellow;
}
</style>
<header>
    <h1>Let's Play With <span>Database API'S</span></h1>
</header>