<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database APIs</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>

  <body>
    <header>
      <h1>
        Let's Play With
        <span>Database API'S</span>
      </h1>
    </header>
    <div class="container">
      <div class="count">
        <div>Total Users in Database : <b> <%= count %> </b></div>
        <div>
          <div class="btn">
            <a href="http://localhost:8080/users">Show All</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
