<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Error</title>
    <link rel="stylesheet" href="/css/password-error.css">
</head>

<body>
    <%- include('header.ejs') %>
    <header class="header">
        <h1>Password Error</h1>
    </header>
    <div class="container">
        <div class="error-message">
            <h2>Error: Incorrect Password</h2>
            <p>It looks like the password you entered is incorrect. Please try again.</p>
        </div>
        <div class="actions">
            <a href="javascript:history.back()" class="btn-back">Go Back</a>
        </div>
    </div>
</body>

</html>
